

<div class="view view-flex">
    <div class="view-body">
        <div class="container no-padding">
            <form class="form" name="form" novalidate ng-submit="form.$valid && ctrl.submit(form)">

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.oldPassword.$dirty) && form.oldPassword.$invalid }">
                    <div class="group-label">原密码</div>
                    <div class="group-content">
                        <input type="password" class="form-control" 
                               required name="oldPassword" 
                               pattern="\S{5,20}" 
                               placeholder="必填"
                               ng-model="ctrl.model.oldPassword"
                               ng-blur="ctrl.checkPassword(form.oldPassword)" />
                        <div class="errmsg-block" ng-messages="form.oldPassword.$error">
                            <p ng-message="test">原密码验证错误</p>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.password.$dirty) && form.password.$invalid }">
                    <div class="group-label">新密码</div>
                    <div class="group-content">
                        <input type="password" class="form-control" required name="password" pattern="\S{5,20}" placeholder="必填" ng-model="ctrl.model.password" />
                        <div class="errmsg-block" ng-messages="form.password.$error">
                            <p ng-message="pattern">5至20位, 不能包含空白字符</p>
                        </div>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid">保存新密码</button>
                </div>
            </form>
        </div>
    </div>

    <sliding-menu></sliding-menu>
    <sliding-menu-toucher></sliding-menu-toucher>
</div>