@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app.manage">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <base href="/manage/" />
    <title ng-bind="pageTitle || '管理中心'">管理中心</title>
    <link href="//at.alicdn.com/t/font_1453520348_2640128.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/themes/dist/manage.min.css" rel="stylesheet" />
</head>
<body>
    @*导航栏*@
    <app-navi></app-navi>

    @*<div id="ui-lock-mask" class="ui-lock-mask active">
        <div class="inner">
            <i class="iconfont icon-loading fa-spin"></i>
            <span class="text">正在加载, 请稍候</span>
        </div>
    </div>*@

    <!-- 视图 -->
    <div id="app-view" ng-view="main" class="app-view"></div>

    <script>
        window.buildNumber = "20160205_17";
    </script>

    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="//apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>

    <script src="~/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="~/bower_components/plupload/js/moxie.min.js"></script>
    <script src="~/bower_components/plupload/js/plupload.min.js"></script>
    <script src="~/bower_components/Slides-SlidesJS-3/source/jquery.slides.min.js"></script>
    <script src="~/bower_components/iscroll/build/iscroll.js"></script>

    <script src="~/Scripts/plupload-angular-directive.js?v=20160205_17"></script>
    <script src="~/Content/modules/dist/app.js?v=20160205_17"></script>
</body>
</html>