
<div>

    <!--表单-->
    <form class="form form-product-properties" name="form" ng-submit="form.$valid && !form.$pending && ctrl.submit()" novalidate>

        <div class="property-panel" ng-repeat="special in ctrl.specials">
            <div class="header">
                <div class="title-wrapper">
                    <res-group class="folding" name="name" ng-if="special" model="special" placeholder="规格"></res-group>
                </div>
                <div class="oprs-wrapper">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-default" ng-click="ctrl.swipe(special, ctrl.props, -1)" title="上移"><i class="fa fa-arrow-up"></i></a>
                        <a class="btn btn-default" ng-click="ctrl.swipe(special, ctrl.props, +1)" title="下移"><i class="fa fa-arrow-down"></i></a>
                        <a class="btn btn-default" ng-click="ctrl.remove(special, ctrl.props)" title="删除"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="grid">
                <table>
                    <tr class="tr-head">
                        <td class="th-model" style="width:15em">
                            <div style="padding-left:12px;">#</div>
                        </td>
                        <td class="th-model">
                            <res-group class="folding" name="desc" ng-if="special" model="special" placeholder="备注, 选填"></res-group>
                        </td>
                        <td class="th-oprs text-right" style="width:109.75px">
                            <div style="padding-right:12px">
                                <a role="button" ng-click="ctrl.addItem(special)">添加行</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="tr-head" ng-repeat="item in special.items">
                        <td class="td-model">
                            <input class="form-control" placeholder="无标记" ng-model="item.name" />
                        </td>
                        <td class="td-values">
                            <res-group class="folding" name="desc" ng-if="item" model="item" placeholder="说明"></res-group>
                        </td>
                        <td class="td-oprs text-right">
                            <div style="padding-right:12px">
                                <a style="margin-left:0.5em" role="button" ng-click="ctrl.swipe(item, special.items, -1)" title="上移"><i class="fa fa-arrow-up"></i></a>
                                <a style="margin-left:0.5em" role="button" ng-click="ctrl.swipe(item, special.items, +1)" title="下移"><i class="fa fa-arrow-down"></i></a>
                                <a style="margin-left:0.5em" role="button" ng-click="ctrl.remove(item, special.items)" title="删除"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-footer">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="ctrl.addSpecial()">添加规格</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-block" ng-click="ctrl.load()">重新加载</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary btn-block">保存修改</button>
                </div>
            </div>
        </div>
    </form>
</div>