
<div>
    <!--表单-->
    <form class="form" name="form" ng-submit="form.$valid && !form.$pending && ctrl.submit()" novalidate>

        <div class="form-group">
            <div class="group-label">产品展示名</div>
            <div class="group-content">
                <res-group class="folding" name="name" style="max-width:40em;" ng-if="ctrl.model.res" model="ctrl.model" placeholder="系列名"></res-group>
            </div>
        </div>

        <div class="form-group">
            <div class="group-label">产品特点</div>
            <div class="group-content">
                <res-group class="folding" name="desc" ng-if="ctrl.model.res" type="textarea" rows="6" model="ctrl.model" placeholder="产品特点"></res-group>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">OK</button>
        </div>
    </form>
</div>