<div class="view view-flex">

    <nav class="view-header view-title">
        <ol class="container">
            <li>
                <a go-back>
                    <i class="iconfont icon-back"></i>
                    <span>忘记密码</span>
                </a>
            </li>
        </ol>
    </nav>

    <div class="view-body">
        <div class="container no-padding">
            <form name="form" class="form form-forgot-password" novalidate ng-submit="form.$valid && ctrl.submit(form)">

                <div class="form-group form-group-hr no-border-top"
                     ng-class="{ 'has-error': (form.$submitted || form.userName.$dirty) && form.userName.$invalid }">
                    <div class="group-label">
                        手机&nbsp;<i class="iconfont icon-phone"></i>
                    </div>
                    <div class="group-content">
                        <input type="tel" name="userName" class="form-control" placeholder="必填" required ng-model="ctrl.model.userName" pattern="\d{11}" 
                               validator-user-is-living />
                        <div class="errmsg-block" ng-messages="form.userName.$error">
                            <p ng-message="userIsLiving">该账号不存在</p>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.verifyCode.$dirty) && form.verifyCode.$invalid }">
                    <div class="group-label">验证码</div>
                    <div class="group-content">
                        <div class="input-group">
                            <input class="form-control" placeholder="必填" phone="ctrl.model.userName" type="number" name="verifyCode"
                                   ng-required="false && !ctrl.nosms" ng-model="ctrl.model.verifyCode" pattern="\d{5}" validator-sms-verify />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        sms-verify-sender="$sms"
                                        phone="ctrl.model.userName"
                                        ng-disabled="form.userName.$invalid || $sms.cd">
                                    <span ng-if="!$sms.cd">获取</span>
                                    <span ng-if="$sms.cd">{{$sms.cd}}</span>
                                </button>
                            </div>
                        </div>

                        <div class="errmsg-block" ng-messages="form.verifyCode.$error">
                            <p ng-message="smsVerify">验证码错误</p>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.password.$dirty) && form.password.$invalid }">
                    <div class="group-label">新密码</div>
                    <div class="group-content">
                        <input type="password" class="form-control" required name="password" pattern="\S{5,20}" placeholder="必填" ng-model="ctrl.model.password" />
                        <div class="errmsg-block" ng-messages="form.password.$error">
                            <p ng-message="pattern">5至20位, 不能包含空白字符</p>
                        </div>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-block">设置新密码</button>
                </div>
            </form>
        </div>
    </div>
</div>