
<div class="view view-flex">
    <div class="view-body">
        <div class="container no-padding">
            <form name="form" class="form view-form-register" ng-submit="form.$valid && !form.$pending && ctrl.submit(form)" novalidate>

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.userName.$dirty) && form.userName.$invalid }">
                    <div class="group-label">
                        手机 <i class="iconfont icon-phone"></i>
                    </div>
                    <div class="group-content">
                        <input class="form-control" placeholder="必填" type="tel" name="userName"
                               required ng-model="ctrl.model.userName" pattern="\d{11}" validator-user-name-not-exists autocomplete="username" />
                        <div class="errmsg-block" ng-messages="form.userName.$error">
                            <p ng-message="userNameNotExists">该号码已经注册过, 不能使用</p>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.verifyCode.$dirty) && form.verifyCode.$invalid }">
                    <div class="group-label">验证码</div>
                    <div class="group-content">
                        <div class="input-group">
                            <input class="form-control" placeholder="必填" phone="ctrl.model.userName" type="number" name="verifyCode"
                                   ng-required="false && !ctrl.nosms" ng-model="ctrl.model.verifyCode" pattern="\d{5}" validator-sms-verify />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        sms-verify-sender="$sms"
                                        phone="ctrl.model.userName"
                                        ng-disabled="form.userName.$invalid || $sms.cd">
                                    <span ng-if="!$sms.cd">获取</span>
                                    <span ng-if="$sms.cd">{{$sms.cd}}</span>
                                </button>
                            </div>
                        </div>
                        
                        <div class="errmsg-block" ng-messages="form.verifyCode.$error">
                            <p ng-message="smsVerify">验证码错误</p>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.password.$dirty) && form.password.$invalid }">
                    <div class="group-label">密码</div>
                    <div class="group-content">
                        <input class="form-control" placeholder="6~20位" type="password" name="password" 
                               required ng-model="ctrl.model.password" pattern="\S{6,20}" />
                        <div class="errmsg-block" ng-messages="form.password.$error">
                            <p ng-message="pattern">6~20位, 不能包含空格</p>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.passwordRpt.$dirty) && form.passwordRpt.$invalid }">
                    <div class="group-label">重复密码</div>
                    <div class="group-content">
                        <input class="form-control" placeholder="6~20位" type="password" name="passwordRpt"
                               required ng-model="ctrl.model.passwordRpt" pattern="\S{6,20}" validator-equals="ctrl.model.password" />
                        <div class="errmsg-block" ng-messages="form.passwordRpt.$error">
                            <p ng-message="pattern">6~20位, 不能包含空格</p>
                            <p ng-message="equals">两次输入的密码不相同</p>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-hr"
                     ng-class="{ 'has-error': (form.$submitted || form.townId.$dirty) && form.townId.$invalid }">
                    <div class="group-label">所属村庄</div>
                    <div class="group-content">
                        <select class="form-control" name="townId" required ng-model="ctrl.model.townId">
                            <option value="{{item.id}}" ng-repeat="item in ctrl.towns">{{item.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid || form.$pending">
                        <i class="iconfont icon-squarecheck"></i>&nbsp;注册
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>